a{
    color: #ffffff;
    text-decoration: none;
	font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #0870d7;
}

h2{
	font: 24px Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0870d7;
		padding: 30px 0px 10px 40px;
}

h3{
	background: url(images/title.png) no-repeat top left;
	font: 18px Arial, Helvetica, sans-serif;
	color: #ffffff;
	height: 43px;
	width: 265px;
	text-align: center;
	line-height: 43px;
	font-weight: normal;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background: #000000 url(images/bg.jpg) no-repeat center 87px;

}

button {
  padding: 12px 24px;
  border: 2px solid #0870d7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


/* Header */

#header {
  position: relative;
  padding-top:16px;
  padding-bottom:16px;
  text-align:center;

}

#txt-inside-img{
  /* font-size: 40px; */
  position: absolute;
  left: 30%;
  top: 70%;
  transform: translate( -50% );

}

/* Stars Data */

section{
  max-width: 1100px;
  margin: 16px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.star-container{
  text-align: center;
  position: relative;
  box-shadow: 4px 4px 8px 0 #0870d7;
  transition: 0.3s;
  width: 32%;
  margin-top: 20px;
}

button:hover{
  opacity: .5;
  transition: .9s;
  color: grey;
}

img {
  width: 100%;
}

.star-stats {
  width: 250px;
  height: 100px;
  margin-top: 12px;
  margin-bottom: 16px
}

  /* Planets */
.planet-stats{
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 12px
}

  .star-details{
   font-size: 18px;
   text-align: center;
  }

  p {
   font-size: 14px;
   text-align: center;
  }


  /* New Star */

  #new-star-container{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom:16px;
    text-align:center;
    background-color: light-grey;
  }

  #buttons {
    padding-top:10px;
  }

  /* New Planet */

  #new-planet-container{
  display: none;
  color:#000;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: lightgrey;
  text-align:center;
  padding: 20px
}
